@layer utilities {
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}