.imgContainerGallery {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  & > div {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  & div > section {
    & > button {
      border: none;
      outline: none;
      background: transparent;
    }
  }

  .imagesGallery {
    display: flex;
    gap: 1rem;
    & img {
      width: 150px;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 910px) {
  .imgContainerGallery {
    width: 100%;

    .imagesGallery {
      display: flex;
      gap: 1rem;
      & img {
        width: 300px;
        height: 500px;
        object-fit: cover;
      }
    }
  }
}
